/build/ssh_launcher/Analysis-00.toc
/build/ssh_launcher/base_library.zip
/build/ssh_launcher/EXE-00.toc
/build/ssh_launcher/PKG-00.toc
/build/ssh_launcher/PYZ-00.pyz
/build/ssh_launcher/PYZ-00.toc
/dist/ssh_launcher.exe
/build/ssh_launcher/ssh_launcher.pkg
/ssh_launcher.spec
/build/ssh_launcher/warn-ssh_launcher.txt
/build/ssh_launcher/xref-ssh_launcher.html
